*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    font-family: 'Inter', sans-serif;
}

main{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(145deg, #000000, #1B103A, #4c3d81);
    position: relative
}

.calculator {
  max-width: 430px;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  background-color: black;
  transition: border-color 0.5s ease, transform 0.5s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  position: absolute;
}

.calculator:hover {
    border-color: #FF9500;
    transform: scale(1.05);
}

.display-wrapper {
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
}

p{
    color: white;
    font-size: 5rem;
}

.button {
    width: 95px;
    height: 95px;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.2 ease;
}

.big-btn {
    width: 200px;
    height: 95px;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 2rem;
    text-align: left;
    padding-left: 40px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button-wrapper {
    display: flex;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.utility-wrapper {
    display: flex;
    gap: 10px;
}

.number-wrapper {
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}

.operator-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.number-wrapper > .button {
    background-color: #505050;
}

.operator-wrapper > .button {
    background-color: #FF9500;
}

.utility-wrapper > .button {
    background-color: #D4D4D2;
    color: black
}

.number-wrapper > .button:hover {
    background-color: #686868;
}

.operator-wrapper > .button:hover {
    background-color: #ffaa33;
}

.utility-wrapper > .button:hover {
    background-color: #e4e4e2;
}


